<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <div class="signup_field">
    <%= f.label :name, "Your Full Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="signup_field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="signup_field">
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="signup_field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <div id="field_description">
	<h4>Don't worry, we hate spam too!</h4>
    </div>
  </div>
  <div class="signup_field">
  	<%= f.label :group_name, "Group Name"%><br />
  	<%= f.text_field :group_name %>
  </div>
  <div class="signup_actions">
    <%= f.submit "Create Group"%>
  </div>
<% end %>
