<!DOCTYPE html>
<html>
	<head>
		<title>FratApps - <%= controller.controller_name.capitalize.gsub(/_/, ' ') %></title>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<%= stylesheet_link_tag :all %>
		
		<%= csrf_meta_tag %>
		
	
		<% if @stylesheets %>
			<%= @stylesheets.each do |sheet| %>
				<%= stylesheet_link_tag sheet %>
			<% end %>
		<% end %>
		<% if @javascripts %>
			<%= @javascripts.each do |js| %>
				<%= javascript_include_tag js%>
			<% end %>
		<% end %>
	    
	</head>

	<body>

		<div id="header_wrapper">
			<div id="header">
				<div id="logo">
					<a class="header_logo" href="/"></a>
				</div>
				
				<div id="log_in">
					<% if signed_in? %>
						<div id="login_inside">
							<h1 class="h1">Welcome, <%= current_user.name %> - <%= current_user.group.group_name %>! | <%= link_to "Logout", signout_path, :method => :delete %></h1>
						</div>
	
					<% else %>
						<%= form_for(:session, :url => sessions_path) do |f| %>
							<div id="field_email">
								<%= f.label :email %>
								<%= f.text_field :email %>
							</div>
							<div id="field_password">
								<%= f.label :password %>
								<%= f.password_field :password %>
							</div>
							<div id="actions" class="input2">
								<%= f.submit "Sign in" %>
							</div>
						<% end %>
					<% end %>
				</div>
				<div id="menu_wrapper">
					<ul id="menu">
					<% if signed_in? %>
						<div id="menuInside">
							<li>
							<%= link_to "Dashboard", dashboard_path %>
							</li>
							<li>
							<%= link_to "Contact", contact_path %>
							</li>
						</div>
					<% else %>
	
						<li>
							<%-# home_logo = image_tag("/images/menu_buttons/home.png", :alt => "Home", :border => 0) %>
							<%= link_to "Home", root_path %>
						</li>
                                              
						<li>
							<%-# tour_logo = image_tag("/images/menu_buttons/tour.png", :alt => "Tour", :border => 0) %>
							<%= link_to "Tour", tour_path %>
						</li>
						
						<li>
							<%-# about_logo = image_tag("/images/menu_buttons/about.png", :alt => "About", :border => 0) %>
							<%= link_to "About", about_path %>
						</li>
										
						<li>
							<%-# contact_logo = image_tag("/images/menu_buttons/contact.png", :alt => "Contact", :border => 0) %>
							<%= link_to "Contact", contact_path %>
						</li>
						<li>
							<%= link_to "Blog", "http://blog.fratapps.com" %>
						</li>
					</ul>
					<% end %>
				</div>
			</div>
		</div>
		
		<p id="notice"><%= flash[:notice] %></p>

		<%= yield %>
		
		
		<div id="footer">      
			<ul>
				<li>&copy 2011 FratApps</li>
				|<li>
					<%= link_to "Home", root_path %>
				 </li>
				|<li>
					<%= link_to "Tour", tour_path %>
				</li>
				|<li>
					<%= link_to "About", about_path %>
				</li>
				|<li>
					<%= link_to "Contact", contact_path %>
				 </li>
				|<li>
					<%= link_to "Blog", "http://blog.fratapps.com" %>
				 </li>
			</ul>
		

			
			      
  		</div>
  
	  	<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-11049160-1");
				pageTracker._trackPageview();
			} catch(err) {
			}
		</script>

		<%= javascript_include_tag '/jquery/jquery-1.4.4.min' %>
		<%= javascript_include_tag :all%>

		<div id="feedback-banner-container">
	<a href="http://spreadsheets.google.com/viewform?formkey=dEtEM3FpQThDT05NRThoUzJTN3QyNmc6MQ" target="_blank">
		<div id="feedback-banner"></div>
	</a>
</div>


	</body>
	
</html>
